#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

#description {
text-align: center; 
}

.wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 200px;
  margin: auto;
}

.button {
  background-color: transparent;
  border: 2px solid;
  border-radius: 4px;
  display: inline-block;
  color: #5fb72f;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  margin: 5px;
  overflow: hidden;
  padding: 0 22px;
  text-align: center;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}

.roll-text {
  display: block;
  position: relative;
  transition: all 420ms cubic-bezier(.175,.885,.32,1.275);
}

.roll-text:last-child {
  color: #fff;
}

.rollover:hover .roll-text:first-child {
  margin-top: -38px;
}

/*
.styled {
  display: block;
  margin: auto;
  padding-bottom: 50px;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #3f8755;
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
  background-color: #5fb72f;
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/*